.header {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/images/header-bg.svg);
  background-size: cover;
  background-position: center;
  color: $menu-text-color;

  &__bottom {
  position: absolute;
  top: $header-botton-top;
  left: 50%;
  transform: translateX(-50%);

  height: $header-bottom-height;
  width: $header-bottom-weight;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include on-tablet {
    top: 256px;
    width: 400px;
    height: 128px;
  }

    & h1 {
      span {
        display: block;
      }

      margin: 0;
      font-weight: 700;
      letter-spacing: -1.5px;
      width: 100%;

      font-size: 40px;
      line-height: 100%;

      @include on-tablet {
        font-size: 64px;
        line-height: 64px;
        }
      }
  }

  &__icons {
  display: flex;
  gap: $geader-icons-gap;
  margin-top: 36px;

  @include on-tablet {
    gap: 55px;
    margin-top: 66px;
  }
  }
}

