.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/images/icon-phone-call.svg);
    position: relative;

    .icon__phone-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 100%;

      padding: 16px;
      white-space: nowrap;
    }

    @include onDesktop {
      &:hover .icon__phone-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  &--menu {
    background-image: url(/images/icon-burger-menu.svg);

    &:hover {
      background-image: url(/images/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/images/icon-close.svg);
    margin-top: 36px;

    @include onTablet {
      margin-top: 43px;
    }

    @include onDesktop {
      margin-top: 48px;
    }
  }
}

.icon__phone-link {
  color: $menu-text-color;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  @include hover(color, $title-color);
}

.icon__logo {
  display: block;
  height: $icon-logo-height;
  width: $icon-logo-weight;
  background-size: cover;
  margin-top: $margin-top-logo;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 65px;
    width: 87px;
    margin-top: 50px;
  }
}

.icon__logo__2 {
  display: block;
  height: 46px;
  width: 64px;
  background-size: cover;
  margin-top: $margin-top-logo;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 65px;
    width: 87px;
    margin-top: 32px;
  }
}
