.menu {
  overflow: auto;

  box-sizing: border-box;
  background-color: $background-color;
  color: $menu-text-color;
  font-family: Cinzel, serif;
  font-weight: 700;
  text-transform: uppercase;

  height: 100vh;
  display: flex;
  flex-direction: column;


  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;

    padding-inline: 20px;
    padding-top: 36px;

    @include on-tablet {
      padding-inline: 72px;
      padding-top: 66px;
    }

    @include on-desktop {
      padding-inline: 120px;
      max-width: max;
      box-sizing: border-box;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-desktop {
      padding-inline: 120px;
      max-width: max;
    }
  }


  &__nav {
    margin-top: 40px;
    margin-bottom: 32px;

    @include on-tablet {
      margin-top: 118px;
    }
  }

  &__phone-number-museum,
  &__phone-number-cloisters {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    padding-bottom: 7px;
    border-bottom: 1px solid #fff;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
  }
}
