.now-on-view {
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-top: 8px;
  }

  &__button {
    @include button-primary;

    padding: 15px;
    margin-top: 40px;

    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / span 4;
    }

    @include on-desktop {
      grid-column: 5 / span 4;
    }
  }
}

.exhibition {
  &__gallery {
    display: flex;
    gap: 8px;
    margin-top: 48px;
    margin-bottom: 24px;

    @include on-tablet {
      .exhibition__link:nth-child(3) {
        display: none;
      }
    }

    @include on-desktop {
      .exhibition__link:nth-child(3) {
        display: block;
      }
    }
  }

  &__photos {
    @include page-grid;

    margin-top: 48px;
    margin-bottom: 24px;
  }

  &__link {
    display: block;
    overflow: hidden;
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $title-color;
  }

  &__content {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}

.button {
  &__wrapper {
    @include page-grid;
  }
}
