$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$background-color: #D12D35;
$main-text-color: #161616;
$menu-text-color: #FFF;
$title-color: #D12D35;
$geader-icons-gap: 24px;
$grid-column-gap: 24px;
$content-gap-about-us: 24px;
$header-bottom-height: 80px;
$header-bottom-weight: 280px;
$header-botton-top: 260px;
$icon-logo-height: 46px;
$icon-logo-weight: 64px;
$margin-top-logo: 25px;
$contact-color: #3E3E3E;
